<% include partials/header %>

<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <form class="" action="/addpost" method="post">
      <label for="title">Title
        <input type="text" name="title" value="<%= title %>" placeholder="title">
      </label>
      <label for="author">Author
        <input type="text" name="author" value="<%= author %>" placeholder="author">
      </label>
      <label for="email">Email
        <input type="text" name="email" value="<%= email %>" placeholder="email">
      </label>
      <label for="description">Description
        <input type="text" name="description" value="<%= description %>" placeholder="description">
      </label>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>


    <% if(hasError) { %>
      <div class="row">
        <div class="col-md-6 errorBlock">
          <% for(var item in error) { %>
            <strong><h6><%= item %></h6></strong>
            <ul>
            <% for(var i = 0; i < error[item].length; i++) { %>
                <li>
                  <i>
                    <%= error[item][i].message %>
                  </i>
                </li>
            <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    <% } %>

  </div>
  <div class="col-md-2">

  </div>
</div>



<% include partials/footer %>
